@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");
@import url("partials/globals.css");
@import url("partials/topbar.css");
@import url("partials/highlight.css");
@import url("partials/schedule.css");
@import url("partials/area-guide.css");
@import url("partials/contacts.css");
