@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");
@import url("partials/globals.css");
@import url("partials/topbar.css");
@import url("partials/highlight.css");

#content {
  padding: 24px 0;
}
